@{
    Layout = null;
}
<div style="background-color:#fff;">
    <div style="border:solid 1px #eee;border-radius:3px;direction:rtl;">
        <h4 style="padding:5px 10px;margin:0!important;text-align:center;background-color:#ccc;color:#fff;">@Strings.Recover @Strings.Password</h4>
        <div style="padding:5px 15px;color:#666;">
            <span style="padding-left:10px;">@DomainStrings.NewPassword:</span><strong>{0}</strong>
        </div>
        <div style="padding:5px 15px;color:#666;">
            <strong  style="padding-left:10px;">@Strings.SignIn:</strong><a asp-controller="Auth" asp-action="SignIn">@Strings.CickHere</a>
        </div>
    </div>
</div>