<!DOCTYPE html>

<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <link rel="icon" href="@Url.Content("~/images/logo.png")" sizes="32x32" />
    <link rel="icon" href="@Url.Content("~/images/logo.png")" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/images/logo.png")" />
    <link href="@Url.Content("~/Styles/Libs/libs.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Styles/App/public.css")" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body class="rtl">
    <header>
        <div class="container">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">
                        <img class="logo" src="@Url.Content("~/Images/PublicLayout/logo.png")" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="https://about.shopia.me/">@Strings.Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://about.shopia.me/faq">@Strings.ContactUs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://about.shopia.me/#what">@Strings.AboutUs</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <a class="btn-1" href="@Url.Action("SignUp","Store")">
                                @Strings.SignUp
                            </a>
                            @*<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>*@
                        </form>
                    </div>
                </nav>
            </div>
            <div class="col-12">
                @RenderSection("breadcrumb", false)
            </div>
        </div>

    </header>
    <section>
        @RenderBody()
    </section>
    <footer></footer>
    <script>
        const urlPrefix = '@Configuration["UrlPrefix"]';
        const strings = {
            error: '@Html.Raw(Strings.Error)',
            success: "@Html.Raw(Strings.Success)",
            pleaseSelect: '@Html.Raw(Strings.SelectPlease)',
            searchHere:'@Html.Raw(Strings.SearchHere)',
            thereIsNoResult: '@Html.Raw(string.Format(Strings.ThereIsNoRecord, Strings.Item))',
            yes: '@Html.Raw(Strings.Yes)',
            no: '@Html.Raw(Strings.No)',
            close: '@Html.Raw(Strings.Close)',
            AreYouSure: '@Html.Raw(Strings.AreYouSure)',
            unAuthorizedErrorMessage: "@Html.Raw(Strings.UnAuthorizedPageMessage)",
            signInUrl: "@Url.Action("SignIn","Auth")",
            searching: '@Html.Raw(Strings.Searching)',
            remove: '@Html.Raw(Strings.Remove)',
            dropzoneFileTooBig:'@Html.Raw(Strings.DropzoneFileIsTooBig)',
            fileFormatNotSupported: '@Html.Raw(Strings.FileFormatNotSupported)',
            cancel: '@Html.Raw(Strings.Cancel)',
            areYouSure: '@Html.Raw(Strings.AreYouSure)',
            dropYourFileHere:'@Html.Raw(Strings.DropYourFileHere)',
            dropYourFilesHere:'@Html.Raw(Strings.DropYourFilesHere)',
            cannotUploadAnyMoreFiles: "@Html.Raw(Strings.CannotUploadAnyMoreFiles)",
            checkResult:"@Html.Raw(Strings.CheckResult)"
        };

        const validationMessages = {
            Required: "@Html.Raw(Strings.Required)",
            remote: "@Html.Raw(Strings.FillFieldCorrectly)",
            email: "@Html.Raw(Strings.InvalidEmail)",
            url: "@Html.Raw(Strings.IncorrectUrl)",
            date: "@Html.Raw(Strings.IncorrectDate)",
            dateISO: "@Html.Raw(Strings.IncorrectDateISO)",
            number: "@Html.Raw(Strings.ValueMustBeNumber)",
            digits: "@Html.Raw(Strings.ValueMustBeDigit)",
            equalTo: "@Html.Raw(Strings.ValueNotMatched)",
            accept: "@Html.Raw(Strings.IncorrectFormat)",
            maxlength: "@Html.Raw(Strings.MaxLengthExeeded)",
            minlength: "@Html.Raw(Strings.MinLengthNotReached)",
            rangelength: "@Html.Raw(Strings.LenghIsNotInRange)",
            range: "@Html.Raw(Strings.ValueIsNotInRange)",
            max: "@Html.Raw(Strings.MaxValueExceeded)",
            min: "@Html.Raw(Strings.MinValueNotReached)"
        };

    </script>
    <partial name="../Shared/Partials/_Modal"/>
    <script src="@Url.Content("~/Scripts/Libs/libs.js")"></script>
    <script src="@Url.Content("~/Scripts/App/public.js")"></script>
    @RenderSection("Scripts", false)
</body>
</html>