@model StoreSignUpModel
@{
    ViewBag.Title = Strings.StoreSignUp;
    Layout = Url.Content("~/Views/StorePublic/_LayoutPublic.cshtml");
}
@section styles{
    <link href="@Url.Content("~/Styles/App/02-Store/Public/sign-up.min.css")" rel="stylesheet" />
}
@section breadcrumb{
    <partial name="./Partials/_BreadCrumb" model='new BreadCrumb { Icon="zmdi zmdi-sign-in", Path = Strings.SignUp}' />
}
<div class=" store-sign-up-page">
    <div class="form-wrapper">
        <div class="container">
            <div class="row" dir="ltr">
                <div class="col-12 col-sm-10 offset-sm-1 col-xl-8 offset-xl-2">
                    <div class="white-box">
                        <h4 class="title text-center">@Strings.StoreSignUp</h4>
                        <form class="m-t m-t" action="@Url.Action("Submit","StorePublic")" dir="rtl">
                            @Html.AntiForgeryToken()
                            <div class="alert alert-danger" id="error-message">
                                <p class="text"></p>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <custom-select-for for="StoreType" class="form-control" items="(List<SelectListItem>)ViewBag.Types" />
                                </div>
                                <div class="col-12 col-sm-6 position-relative">
                                    <custom-input-for for="Username" class="form-control ltr-elm"></custom-input-for>
                                    <button class="btn-check" type="button" data-url="@Url.Action("ShowPage","Store")">
                                        @Strings.Check
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <custom-input-for for="FullName"></custom-input-for>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <custom-input-for for="MobileNumber" class="form-control ltr-elm"></custom-input-for>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 d-flex justify-content-start align-items-center">
                                    <a href="@Url.Action("SignIn","Auth")" class="link-to-sign">
                                        @Strings.SignInToAccount
                                    </a>
                                </div>
                                <div class="col-6">
                                    <button class="btn-submit btn-1" type="button">
                                        @Strings.Submit
                                    </button>
                                </div>
                            </div>


                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>

@section scripts{
    <script src="@Url.Content("~/Scripts/App/02-Store/Public/sign-up.js")"></script>
}