@model IEnumerable<PostModel>
@{
    Layout = null;
}

<div class="row">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            @if (item.HasImage)
            {
                <div class="col-12 col-sm-4 post">
                    <figure class="">
                        <div class="check">
                            <i class="chk zmdi zmdi-check-circle"></i>
                        </div>
                        <img src="@item.ImageUrl" alt="img" />
                        <figcaption>
                            <input data-id="@item.UniqueId" class="form-control p-h-r ltr-elm input-price" type="text" placeholder="قیمت" value="" />
                        </figcaption>
                    </figure>
                </div>
            }

        }
    }

</div>


<div class="row btn-group">
    <div class="col-12 text-center">
        <custom-button icon="zmdi zmdi-chevron-left" class="btn btn-info" text="بعدی" id="btn-prev-posts" data-url="@Url.Action("Post","StoreProduct")"></custom-button>
        <button type="button" class="btn btn-primary" id="btn-submit">
            @Strings.Submit
        </button>
        <custom-button icon="zmdi zmdi-chevron-right" class="btn btn-info ltr" text="قبلی" id="btn-next-posts" data-url="@Url.Action("Post","StoreProduct")"></custom-button>

    </div>
</div>
